<div ng-controller="preview.picker.editor.controller" class="preview-picker">
    <div class="preview" ng-repeat="item in list track by $index">
        <!-- TODO: Add sorting and deletion. Sorting only if it isn't complicated -->
        <div class="settings">
			<button type="button" class="btn btn-small" ng-click="sortItem($index, -1)"><i class="icon-arrow-up"></i></button>
			<button type="button" class="btn btn-small" ng-click="sortItem($index, 1)"><i class="icon-arrow-down"></i></button>
            <button type="button" class="btn btn-small"><i class="icon-edit" ng-click="editItem($index)"></i></button>
			<button type="button" class="btn btn-danger btn-small" ng-click="deleteItem($index)"><i class="icon-trash"></i></button>
		</div>
        <img ng-show="item.thumbnail != ''" src="{{item.thumbnail}}" alt="{{item.name}}" style="width: 200px;" />
        <div class="preview-info">
            <h3>{{item.name}}</h3>
            <div ng-repeat="property in item.properties">
                <p class="textstring" ng-if="property.editor == 'Umbraco.Textbox'">{{property.value}}</p>
                <p class="textarea" ng-if="property.editor =='Umbraco.TextboxMultiple'">{{property.value}}</p>
                <div class="rte" ng-if="property.editor == 'Umbraco.TinyMCEv3'" ng-bind-html-unsafe="property.value"></div>
            </div>
        </div>
    </div>
    <div class="usky-grid" ng-show="!isChildSelectorOpen && !isAtMax()">
		<button type="button" class="iconBox" ng-click="toggleChildSelector()"><i class="icon-add"></i></button>
	</div>
    <div ng-show="isChildSelectorOpen">
        <select name="childrenSelector" id="childrenSelector" ng-model="selectedChild" ng-options="option.name for option in filteredChildren() track by option.id"></select>
        <button type="button" class="btn" ng-click="addNodeToList()">Add</button>
        <button type="button" class="btn" ng-click="toggleChildSelector()">Cancel</button>
    </div>
</div>
